a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}

li > a:hover {
  color: rgb(170, 170, 170);
  padding: 5px 10px;
  background-color: rgba(170, 170, 170, 0.25);
}

.active {
  color: #fff;
  font-weight: 600;
}
